.container-login {
  height: 100vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-login h1 {
  color: #4ef5c8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
}

.container-login p {
  color: darkgray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
}

.container-login img {
  width: 100%;
  height: 230px;
  max-width: 580px;
  min-width: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-login button {
  width: 145px;
  height: 57px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #4ef5c8;
  font-size: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  line-height: 1px;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  color: #ECEFED;
  background: black;
}

.container.app {
  padding: 0;
  border-radius: 7px;
}

.container-nav {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1da5a6;
  background: linear-gradient(45deg, #1da5a6 0%, rgba(0, 212, 255, 0.594275) 87%);
}

nav {
  padding: 10px;
}

nav .container-menu {
  position: relative;
  margin-left: 5px;
}

nav .container-menu input {
  position: absolute;
  opacity: 0;
  border: none;
  outline: none;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

nav .container-menu input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(45deg) translate(6px, -1px);
          transform: rotate(45deg) translate(6px, -1px);
  background-color: black;
}

nav .container-menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(6px, -1px);
          transform: rotate(-45deg) translate(6px, -1px);
  background-color: black;
}

nav .container-menu input:checked ~ span:nth-last-child(4) {
  opacity: 0;
}

nav .container-menu input:checked ~ .menu {
  z-index: 1;
  opacity: 100%;
}

nav .container-menu span {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 3px;
  background-color: #ECEFED;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-transition: opacity 0.35s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.35s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.35s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.35s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav .container-menu .menu {
  padding-top: 50px;
  padding-left: 15px;
  position: absolute;
  width: 170px;
  height: 125px;
  background: #d8d8d8f2;
  top: -10px;
  left: -14px;
  border-radius: 3px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav .container-menu .menu button {
  width: 120px;
  border: none;
  background: #444444;
  color: white;
  height: 35px;
  font-size: 19px;
  border-radius: 15px;
  text-transform: uppercase;
  margin: 20px 0 0 8px;
}

nav .container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container-search * {
  margin-right: 5px;
}

nav .container-search i {
  font-size: 30px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  right: -35px;
  color: #272727;
  background: #ffffffc7;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
}

nav .container-search i::before {
  vertical-align: sub;
  margin-right: 5px;
  opacity: 75%;
}

nav .container-search #subInput {
  position: relative;
}

nav .container-search input {
  height: 50px;
  width: 260px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: #ffffffc7;
  outline: none;
  border: none;
  text-align: center;
  font-size: 30px;
  color: #ECEFED;
  color: black;
}

.display-song {
  padding: 5px;
}

.container-song {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-song iframe {
  border: 0;
  height: 96px;
  width: 240px;
  border-radius: 13px;
}

@media (max-width: 576px) {
  .container {
    min-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */